<%= form_for(@workout) do |f| %>
  <% if @workout.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@workout.errors.count, "error") %> prohibited this workout from being saved:</h2>

      <ul>
      <% @workout.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<<<<<<< HEAD
=======
  <div class="field">
    <%= f.label "Load from template" %><br />
    <%= f.collection_select :template_id, @templates, :id, :name %>
    <!--%= f.text_field :template_id %-->
  </div>
>>>>>>> 26757e2a401091b80e8352c264b191333628db9b
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
